@model BookStore.WEB.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваша корзина</h2>
@Html.Action("ShowCart", new { returnUrl = Model.returnUrl})
<a class="btn btn-primary" href="@Model.returnUrl">Продолжить покупки</a>

