@model IEnumerable<BookStore.BLL.DTO.CategoryDTO>
@*@Html.ActionLink("Главная", "Index", "Home", null, new { @class = "btn btn_sizing btn-primary mt-3" })*@

@*@Html.ActionLink("Главная", "Index", "Home", null, new { @class = "btn_sizing" })*@
@*<button class="btnsizing">ASasd</button>*@
@*<div class="btn-group dropright my-3">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Жанры
    </button>
    <div class="dropdown-menu-right">
        @foreach (var link in Model)
        {
            @Html.RouteLink(link.CategoryName, new
        {
           controller = "Home",
           action = "Index",
           category = link.CategoryName,
        }, new
        {
           @class = "dropdown-item " + (link.CategoryName == ViewBag.SelectedCategegory? "active": "")
        })
        }
    </div>

</div>*@
<div class="slide">
    <ul class="menu">
        <li class="menu_list">
            <a href="#">Жанры</a>
            <ul class="menu_drop">
                @foreach (var link in Model)
                {
                    <li>

                        @Html.RouteLink(link.CategoryName, new
                   {
                       controller = "Home",
                       action = "Index",
                       category = link.CategoryName,
                   }, new
                   {
                       @class = "menu_drop_item " + (link.CategoryName == ViewBag.SelectedCategegory ? "" : "")
                   })

                    </li>
                }
            </ul>
        </li>
    </ul>
</div>




